@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid #6c1515;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: #6c1515;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
  }

  .image-container {
    /*Top and botton 10px, left and right 30% so that means in total 60% margin and 40% image*/
    margin: 10px 30%;
  }

  .image-container img {
    width: 100%;
    margin-top: 5px;
  }

  /* Media query */
  @media screen and (max-width: 600px){
    h1 {
        font-size: 20px;
    }
    .image-container {
        margin: 10px;
    }
  }

  
  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }
      
      


  